<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá <strong>{{name}}</strong>!</p>
  <p>Recebemos sua solicitação de redefinição de senha, clique <a href="{{link}}">AQUI</a> para redefinir sua senha!</p>
  <p>Caso não tenha realizado essa solicitação, favor descartar este email.</p>
  <p>Obrigado por utilizar nossos serviços!</p>
  <p>- Equipe API Vendas.</p>
</div>
